.flex-1 {
  flex: 1;
  width: 100%;
}

.text-light-purple {
  color: $light-purple;
}

.text-sm {
  font-size: 14px;
}

.text-purple {
  color: $purple;
}

.text-teal {
  color: $teal;
}

.text-danger {
  color: $danger;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.text-danger {
  color: $danger;
}

.w-100 {
  width: 1005;
}
